<header style="height: 30px;background-color: yellow;">
</header>

<div class="container">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEN001Q5AoJ2REqLeVFIjweNX-DXvXVA1FDA&s"/>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEN001Q5AoJ2REqLeVFIjweNX-DXvXVA1FDA&s"/>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEN001Q5AoJ2REqLeVFIjweNX-DXvXVA1FDA&s"/>
 
 <h2 style="background-color: fuchsia;">Signup Page!!!</h2>
 <hr/>
 	 <b style="color:red">
    {{signup.firstName}}
  </b>
   <form>
     <div style="width: 50%">
	   <h5>FirstName :</h5>
	   <input [(ngModel)]="signup.firstName"  type="text" class="form-control" #firstName name="firstName"/> 
	      <h5>LastName :</h5>
	   <input [(ngModel)]="signup.lastName"   type="text" class="form-control" name="lastName"/> 
	    <h5>Password :</h5>
	   <input [(ngModel)]="signup.password"     type="password" class="form-control"  name="password"/> 
	    <h5>Email :</h5>
	   
	   <input [(ngModel)]="signup.email"      type="email" class="form-control"  name="email"/> 
	    <hr/>
	   
	   <button (click)="sendData()" type="button" class="btn btn-primary">Signup!</button>
	   </div>
   </form>
   <hr/>
   <h3>Signups Data</h3>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>SNO</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let signup of signups;index as sno">
        <td>{{sno+1}}</td>
        <td>{{signup.firstName}}</td>
        <td>{{signup.lastName}}</td>
        <td>{{signup.email}}</td>
        <td>{{signup.password}}</td>
      </tr>
    
    </tbody>
  </table>
   <hr/>
</div>
